/* CSS declarations go here */

.grid-block, .main, .app, .comments li, .comment-form {
    background: #eef;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body { 
    background: #013;
    color: #666666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-image: url('/bg-tile-dark.png');
}

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.brand {
    color: #eef;
    font-size: 42px;
}.brand:hover{
    color: #fff;
}


.login, .btn-link {
    text-align: center;
    color: #7277db;
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
    float:right;
    font-weight: 300;
}.login:visited, .btn-link:visited {
    color: #4d54d8;
}.login:hover, .btn-link:hover, .btn-link.active {
    background: #eef;
    color: #1921b1;
    text-decoration: none;
}

.blockquote {
    border-left-width: 0px;
    padding: 0px;
    margin: 5px;
}

.headsup-yellow {
    color: #ffda73;
}

.control-group {
    margin: 20px;
    color: #1921b1;
}.control-label{
    font-weight: 500;
}.control {
    min-width: 200px;
}

.alert-error{
    background-color: #ffda73;
    /*background-color: #ffcc40;*/
    color: #a67a00;
    font-weight: 300;
}

.btn-link.disabled{
    opacity: 0.0;
}

#spinner { height: 300px }
.app {
    font-weight: 300;
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}
.app:before, .app:after {
    content: "";
    display: table;
}
.app:after { clear: both }
.app.invisible { opacity: 0 }
.app .upvote {
    display: block;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
}
.app .app-content { 
    float: left;
    color: #4d54db;
}
.app.hilight{
    background-color: #ffffee;
}
.app .app-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 300;
}
.app .app-content h3 a {
    display: inline-block;
    margin-right: 5px;
    color: #4d54d8;
}
.app .app-content h3 span {
    letter-spacing: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaadd;
}
.app .app-content small span {
    display: inline-block;
    color: #aaaadd;
    padding-left: 25px;
}
.app .app-content p { margin: 0 }
.app .discuss {
    display: block;
    float: right;
    margin-top: 7px;
    font-weight: 300;
}
.comments {
    list-style-type: none;
    margin: 0;
    font-weight: 200;
    color: #4d54d8;
}
.comments li h4 {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: 200;
}
.comments li h4 a { font-size: 12px }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
    font-weight: 300;
}
.load-more {
    display: block;
    border-radius: 3px;
    max-width: 50%;
    font-size: 18px;
    font-weight: 300;
    color: #2f3485;
    background-color: #aaaaff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}.load-more:hover {
    text-decoration: none;
    background-color: #eeeeff;
}