
<template name="topbar">
  <div class="horizbar">
    <div class="container">
    <header class="navbar">
      
      <div class="navbar-inner">
        <div class="nav pull-left">
           
          <a class="btn-link navbtn navsub {{activeRouteClass 'appSubmit'}} share-app" role="button">Share App</a> 
          <a class="btn-link navbtn navsub {{activeRouteClass 'newest'}}" href="{{ pathFor 'newest' }}" role="button">Newest</a> 
          
          <a class="btn-link navbtn brand {{activeRouteClass 'home'}}" href="{{ pathFor 'home' }}"> <span style="font-size:42px">Made with <span style="font-weight:bold">Meteor</span></span></a>
        </div>

        <div class="nav pull-right">
          <div class="login navlogin">
            {{> loginButtons align="right"}}
          </div>
          <div class="searchbox {{activeRouteClass 'pkgPage'}}">
            {{> pkgsearch}}
          </div>
        </div>
      </div>

      <div style="clear:left"></div>

    </header>
  </div>
</div>
</template>

<template name="pkgsearch">

  <div class="row">
    <div class="col-md-2">
      <div class="input-group"  style="max-width:150px">
        <input type="text" id="filterpkg" class="form-control search" placeholder="Package" >
        <span class="input-group-btn">
          <button id="myfilter" class="btn-link searchbtn" type="submit"><i class="ion-search" style="font-size:28px;color:#1f2455"></i></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->

</template>
