
<template name="topbar">
  <div class="horizbar">
    <div class="container">
    <header class="navbar">
      
      <div class="navbar-inner">
        <div class="nav pull-left">
           
          <a class="btn-link navbtn navsub {{activeRouteClass 'appSubmit'}} share-app" role="button">Share App</a> 
          <a class="btn-link navbtn navsub {{activeRouteClass 'newest'}}" href="{{ pathFor 'newest' }}" role="button">Newest</a> 
          
          <a class="btn-link navbtn brand {{activeRouteClass 'home'}}" href="{{ pathFor 'home' }}"> <span style="font-size:42px">Made with <span style="font-weight:bold">Meteor</span></span></a>
        </div>

        <div class="nav pull-right">
          <div class="login navlogin">
            {{> loginButtons align="right"}}
          </div>
        </div>
      </div>


    </header>
  </div>
</div>
</template>
