<template name="commentSubmit">
  <form name="comment" class="comment-form">
    {{#constant}}
        <div class="control-group">
            <div class="controls">
                <textarea name="body" autofocus="autofocus" cols="70" rows="5"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" title="(⌘+enter)">Add Comment</button>
            </div>
        </div>
    {{/constant}}
  </form>
</template>