<template name="appItem">
  <div class="app"><div class="app-content">
    	{{> appTitleLine}}
      	<small>
      		<p><span>{{description}}</span></p>
          {{> appDetailsLine}}
      	</small>
  </div></div>
</template>

<template name="appItemshort">
  <div class="app"><div class="app-content">
    {{> appTitleLine}}
    <small>{{> appDetailsLine}}</small>
  </div></div>
</template>

<template name="appTitleLine">
  <p><h3><a href="{{ pathFor 'appPage' }}">{{title}}</a>
    <a href="{{url}}"><span>({{domain}})</span></a></h3></p>
</template>

<template name="appDetailsLine">
  <p># votes by {{author}} # time ago | 
    {{#if ownApp}}
      <a href="{{ pathFor 'appEdit' }}">Edit</a> | 
    {{/if}}
    {{#if hasSource}}
      <a href="{{source}}">Source</a> | 
    {{/if}}
    <a href="{{ pathFor 'appPage' }}">{{commentLinkText}}</a>
  </p> {{commentsCount}}
</template>