<template name="appPage">
  {{#with currentApp}}
    {{> appItem}}
    {{#if currentUser}}
    	{{> commentSubmit}}
    {{else}}
    	<p class="headsup-yellow">Please log in to leave a comment. </p>
    {{/if}}
    <ul class="comments comment-list">
        {{#each rootComments}}
            {{> commentception}} 
        {{/each}}
    </ul>
  {{/with}}
</template>
 
<template name="commentception">

        {{> comment}}
        {{#if isParent}}
            {{#each childComment}}
                {{> commentception}}
            {{/each}}
        {{/if}}

</template>


