<template name="appEdit">
  {{#with app}}
    <form class="main">
      <div class="control-group">
        <label class="control-label" for="title">App Name</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Honeycomb Guides" size="70"/>
        </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="url">App URL</label>
          <div class="controls">
              <input name="url" type="text" value="{{url}}" placeholder="http://myapp.meteor.com" size="70"/>
          </div>
      </div>
      <p></p>
      <div class="control-group">
          <label class="control-label" for="source">GitHub URL</label>
          <div class="controls">
              <input name="source" type="text" value="{{source}}" placeholder="github.com/meteor/meteor" size="70" />
          </div>
      </div>
      <p></p>
      <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
              <input name="description" type="text" value="{{description}}" placeholder="" size="70" />
          </div>
      </div> 

      <div class="control-group">
          <div class="controls">
              <input type="submit" value="Submit" class="btn btn-success btn-lg submit"/>
          </div>
      </div>
      <hr/>
      <div class="control-group">
          <div class="controls">
              <a class="btn btn-danger btn-lg delete" href="#">Delete app</a>
          </div>
      </div>
    </form>
  {{/with}}
</template>
