<template name="appItem">
  <div class="app">
    {{> upvoteButton}}
    <div class="app-content">
    	<p><h3><a href="{{url}}">{{title}}</a><span>({{domain}})</span></h3></p>
      	<small>
          {{#if hasDescript}}
      		  <p><span>{{description}}</span></p>
          {{/if}}
          {{> appDetailsLine}}
      	</small>
    </div>
  </div>
</template>


<template name="appItemshort">
  <div class="app">{{> upvoteButton}}<div class="app-content">
    <p><h3><a href="{{ pathFor 'appPage' }}">{{title}}</a><a href="{{url}}"><span>({{domain}})</span></a></h3></p>
    <small>{{> appDetailsLine}}</small>
  </div></div>
</template>

<template name="upvoteButton">
  <a href="#" class="upvote btn btn-link btn-lg {{upvotedClass}}" role="button">⬆</a>
</template>

<template name="appDetailsLine">
  <p>{{votes}} votes by {{author}} # time ago | 
    {{#if ownApp}}
      <a href="{{ pathFor 'appEdit' }}">Edit</a> | 
    {{/if}}
    <a href="{{url}}">Link</a> | 
    {{#if hasSource}}
      <a href="{{source}}">Source</a> | 
    {{/if}}
    <a href="{{ pathFor 'appPage' }}">{{commentLinkText}}</a>
  </p>
</template>