<template name="appItem">
  <div class="app {{sourceClass}}">{{> upvoteButton}}<div class="app-content">
    	<p><h3><a href="{{url}}">{{title}}</a><span>({{domain}})</span></h3></p>
          {{#if hasDescript}}
      		  <p><span>{{description}}</span></p>
          {{/if}}
          {{> appDetailsLine}}
  </div></div>
</template>

<template name="appItemshort">
  <div class="app {{sourceClass}}">{{> upvoteButton}}<div class="app-content">
    <p><h3><a href="{{url}}">{{title}}</a><a href="{{url}}"><span>({{domain}})</span></a></h3></p>
    {{> appDetailsLine}}
  </div></div>
</template>

<template name="upvoteButton">
  <a href="#" class="upvote btn btn-link btn-lg {{upvotedClass}}" role="button"><i class="ion-arrow-up-b"></i></a>
</template>

<template name="appDetailsLine">
  {{#if hasSource}}
    Packages: {{packages}}
  {{/if}}
  <p><small>{{votes}} {{voteText}} by {{author}} {{timeago baseDate}} </small> 
    <span class="icons">
    {{#if ownApp}}
      <a href="{{ pathFor 'appEdit' }}"><i class="ion-compose" style="font-size:24px"></i></a>  
    {{/if}}
      
    {{#if hasSource}}
      <a href="{{source}}"><i class="ion-social-github" style="font-size:24px; color:#ff6080"></i></a>  
    {{/if}}
    </span>
    <small><a href="{{ pathFor 'appPage' }}"><i class="ion-chatboxes"  style="font-size:24px"></i> {{commentLinkText}}</a></small>
  </p>
  {{# if debugmode}}
    <p>_</p>
    <p><u>Debug Mode stuff:</u></p>
    <p>Score:{{score}}</p>
    <p>votecache:{{votecache}}</p>
    <p>currentVoteValue:{{currentVoteValue}}</p>
    <p>_id: {{appID}}</p>
  {{/if}}
</template>