<template name="appPage">
  {{#with currentApp}}
    {{> appItem}}
    {{#if currentUser}}
    	{{> commentSubmit}}
    {{else}}
    	<p class="headsup-yellow">Please log in to leave a comment. </p>
    {{/if}}
    <ul class="comments comment-list">
        {{#each rootComments}}
            {{> commentception}} 
        {{/each}}
    </ul>
    {{#each comments}}
        {{> comment}}
    {{/each}}
  {{/with}}
</template>
 
<template name="commentception">

        {{> comment}}
        <p>______(base comment)</p>

        {{#if isParent}}
            **(isParent)
            {{#each childComment}}
                (+){{> commentception}}
            {{/each}}
        {{/if}}

</template>


