<template name="appsList">
  <div class="apps">
    {{#each apps}}
      {{> appItemshort}}
    {{/each}}
    {{#if appsReady}}
    	{{#unless allAppsLoaded}}
    		<p align="center"><a class="load-more" href="#">Load more</a></p>
    	{{/unless}}
    {{/if}}
  </div>
</template>


<template name="newApps">
  {{> appsList options}}
</template>

<template name="popularApps">
  {{> appsList options}}
</template>

<template name="appsByPkg">

  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="myfilter" class="btn btn-success" type="submit">Filter by Package</button>
          <br />
        </span>
        <input type="text" id="filterpkg" class="form-control controls">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <br />

  {{> appsList options}}
</template>